streamlit==1.32.2
streamlit-authenticator==0.3.2
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.2
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-js-eval==0.1.7
streamlit-keyup==0.2.4
streamlit-option-menu==0.3.12
streamlit-shadcn-ui==0.1.18
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
pandas
numpy
SQLAlchemy==2.0.29
